<section id="cover" >
  <div id="cover-texto" >
    <div class ="container">
      <div class="row">
        <div class ="col-sm-12">
          <div class ="col-sm-12">
            <h1 class="display=3">CARNICERIA "LA DIFERENCIA"</h1>  
            <p>Venta de carne de Res - Chivo - Cerdo - Pollo - Lacteos</p>
            <form>
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInput">Nombre</label>
                  <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Nombres">
                </div>
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputGroup">Usuario</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
                  </div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-danger mb-2">Consultar</button>
                </div>
              </div>
            </form>

            <section id="Empresa">
              <div class ="cotenido-seccion">
                <div class="container">
                  <h2>Acerca de la Empresa</h2>
                  <p class ="lead">Carnes "La diferencia" una microempresa ha persistido en el mercado por 20 años, ofrece carnes 100% certificada y un servicio al cliente inigualable.</p>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card-group">
                          <div class="card">
                            <div class="card-block">
                              <h4 class="card-tittle">Carne de Res</h4>
                              <h6 class="card-subtittle">Carnes rojas</h6>
                            </div>
                            <img src="" class="card-img-top" alt="pulpa de carne de res">
                            <div class="card-block"></div>
                            <p class="card-text">La carne roja es rica en proteinas de buena calidad y, sobre todo, es una excelente fuente de hierro que contribuye a prevenir o controlar estados de anemia, aseguran los especialistas en nutricion</p>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Ver mas</button>
                          </div>

                          <div class="card">
                              <div class="card-block">
                                <h4 class="card-tittle">Carne de Cerdo</h4>
                                <h6 class="card-subtittle">Carnes rojas</h6>
                              </div>
                              <img src="." class="card-img-top" alt="Pernil de cerdo">
                              <div class="card-block"></div>
                              <p class="card-text">Aporta potasio, fosforo, zinc y vitaminas del complejo B. Ademas,como tiene alto poder saciante, mantiene al aparato digestivo ocupado por largo tiempo.Lo recomendable es comer carnes rojas do o tres veces por semana.</p>
                              <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Ver mas</button>
                          </div>


                        <div class="card">
                              <div class="card-block">
                                <h4 class="card-tittle">Pollo</h4>
                                <h6 class="card-subtittle">Carnes Blancas</h6>
                              </div>
                              <img src="." class="card-img-top" alt="Muslos de pollo">
                              <div class="card-block"></div>
                              <p class="card-text">las carnes blancas ofrecen grandes beneficios. En general disminuyen el colesterol LDL(usualmente llamado "colesterol malo").El Omega3, ademas de colaborar con dicha disminucion sin alterar la cantidad de HDL.</p>
                              <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Ver mas</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </section>

            <section id="acerca-de">
              <div class="contenido-seccion">
                <div class="container">
                  <div class="col-md-6">
                    <div class="texto-acerca-de">
                      <h3>Carniceria "LA DIFERENCIA"</h3>
                      <p class="lead">Visitanos en nuestro local que se encuentra en la Cra 18D N0 30-04. Simon Bolivar o Contactanos por medio de nuestros Tel. 5726751 Cel. 3012515733</p>
                    </div>
                    <div class="col-sm-3"></div>
                        <h6>Informacion</h6>

                        <b> Horario de Atencion: </b>
                        <b> 
                          Lunes a Lunes  

                        </b>
                        <b> 6:00 AM - 1:00 PM  Y 5:00PM - 9:00PM </b>
                        <b> Es un placer Atenderle </b>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


